@import './variables.styl'
@import './components.styl'

a {
  text-decoration: none;
  color: #42b983;
}

.secondary {
  color: secondary-text-color;
}
.action {
  color: action-color;
}

.accent {
  color: accent-color;
}

.danger {
  color: error-color;
}

.small {
  font-size: 0.78rem;
}

@media (max-width: small-screen-size) {
  .list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
