@import './variables.styl'

a {
  text-decoration: none;
  color: #42b983;
}

.secondary {
  color: secondary-text-color;
}
.action {
  color: action-color;
}

@media (max-width: small-screen-size) {
  .list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
