secondary-text-color = rgba(black, 0.54);
sidebar-width = 300px;
action-color = #42b983;

accent-color = RGB(234, 67, 53);
small-screen-size = 720px;

screen-background = white;
default-padding = 0 14px;
border-color = rgb(246, 248, 250);
strong-border-color = rgb(209, 213, 218);

base-text-color = #2c3e50;
header-background = #f6f8fa;
error-color = #f44336;
